.Card
	.Card-container	
		width 150px
		background #f5deb3
		border 5px solid black
		box-shadow 0 0 10px rgba(black,.5)
		border-radius .5em
		padding .5em
		position relative
	.Card-containerName
		font-size 1.3em
		padding .6em 0
		text-align center
		font-weight bold
			
	.Card-image
		width 100%