
test(color= red)
	border 1px solid color
	box-sizing border-box 
	
@import "./menu/style.styl"
@import "./footer/style.styl"




body
	margin 0
	padding 0
	background-image url('../images/background.jpg')
	background-size cover
	background-position center
	background-repeat no-repeat
	display flex
	flex-direction column
	flex-wrap wrap
	min-height 100vh
	font-family 'Arial Black'
	font-size 16px
	

.Layoutl
	display flex
	justify-content space-around
	min-width 1200px
	margin 0 auto
	
.Layout
	display flex
	justify-content space-around
	min-height 70vh
	min-width 1200px
	margin 0 auto
	
	
.Card
	
	display flex 
	align-items center
	
	&-container
		border 4px solid #1E5C37
		box-shadow 1px 1px 4px rgba(82,165,40,0.83)
		border-radius 1.5em 0
		background #EFE5BE
		width 300px
					
	&-containerTitle
		font-size 1.3em			
		text-align center
		font-weight bold
		color #1E5C37
		padding 1em 0 
		
		
	&-image
		width 100%
		
.Card-datos
	font-family Arial
	font-size 1em
	padding 0 1em
	text-align center
	
	.Card-ext
		background #528651
		padding 1rem
		border-radius .5rem 0
		color white
		font-weight 900
		font-size 17px
	.Card-mail
		font-style italic
	.horario
		margin 0 0 .3em 0
	.horario1
		margin .3em 0 0 0
		
